<%= form_with(model: approval_state, local: true) do |form| %>
  <% if approval_state.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(approval_state.errors.count, "error") %> prohibited this approval_state from being saved:</h2>

      <ul>
      <% approval_state.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
