<!DOCTYPE html>
<html>
    <head>
        <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
      </head>
    <body>
        <h1><%= @msg %></h1>
        <p>
              <b>Status:</b><%= @approval_state.verdict %>
        </p>
      <p>
            This portion of the website is incomplete, we are not currently able to provide a link back to the canceled form.
            Please contact <a href="mailto:choephel@ohsu.edu">Pema Choephel</a> for additional information.
        </p>
    </body>
</html>
