<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1><%= @msg %></h1>
    <p>
        <b>Status:</b><%= @approval_state.verdict %>
    </p>
    <p>
        <%= link_to 'Click here to view the travel request', travel_request_url(@travel_request, :protocol => 'https://' ,:only_path=> false) %>
    </p>
    <%= render :partial => 'travel_requests/show_form', :locals=>{ :current_user => @travel_request.user } %>
  </body>
</html>
