<div class='row'>
  <div class="col-xs-3">
    <%= link_to 'Back', record, class: 'btn btn-default' %>
  </div>
  <div class='col-xs-9'>
    <div class="btn-group pull-right">
      <% if record.new_record? || ( params['action'] == 'edit' && can?(:edit, record) ) %>
        <%= submit_tag 'Save & Review', class: 'btn btn-success' %>
      <% end %>

      <% if can? :destroy, record  %>
        <% unless record.new_record? %>
          <%= submit_tag "Delete", name: :delete, confirm: 'Are you sure?', class: 'btn btn-danger', disabled: !can?(:delete, record) %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
