<div class='row'>
  <div class="col-xs-3">
    <%= link_to 'Back', record, class: 'btn btn-default' %>
  </div>
  <div class='btn-group col-xs-9'>
    <!-- only on edit or new -->
    <% if record.new_record? || ( params['action'] == 'edit' && can?(:edit, record) ) %>
      <%= submit_tag 'Save & Review', class: 'btn btn-success pull-right' %>
    <% end %>

    <!-- only on show or edit (not new) -->
    <% if can? :destroy, record  %>
      <!-- only on show or edit (not new) -->
      <!-- allow deletion of forms that have already been saved -->
      <% unless record.new_record? %>
        <%= submit_tag "Delete", name: :delete, confirm: 'Are you sure?', class: 'btn btn-danger pull-right', disabled: !can?(:delete, record) %>
      <% end %>
    <% end %>
  </div>
</div>
