    
    <% content_for :extra_actions do %>
        <% if @leave_request.new_record? == false && @leave_request.related_record.nil? %>
            <div>
            <%= submit_tag("Create #{@leave_request.related_name}",{
                :name=>:create_related_request,
                :class=>'button tooltip',
                :title=>"Create a #{@leave_request.related_name} using the information already entered."
            }) %>
            </div>
        <% elsif @leave_request.related_record.nil? == false %>
            <div class="ui-widget-content ui-corner-all wide partial_form">
                <%=  link_to "View #{@leave_request.related_name}", @leave_request.related_record, :class=>'button' %>
            </div>
        <% end %>
    <% end %>


