<div class="col-lg-2 col-xs-12">
  <div class="row">
    <%= mrr.reimb_date.strftime("%a %B %d, %Y") %>
  </div>

  <div class="row">
    <b>Breakfast</b>
    <br />
    <%= hf_meal_reimb_tf_to_words mrr.breakfast %>
  </div>

  <div class="row">
    <b>Lunch</b>
    <br />
    <%= hf_meal_reimb_tf_to_words mrr.lunch %>
  </div>

  <div class="row">
    <b>Dinner</b>
    <br />
    <%= hf_meal_reimb_tf_to_words mrr.dinner %>
  </div>
</div>
