<div id='user-tabs'>

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">User Information</a></li>
    <li role="presentation"><a href="#contacts" aria-controls="contacts" role="tab" data-toggle="tab">Contacts</a></li>
    <li role="presentation"><a href="#delegates" aria-controls="delegates" role="tab" data-toggle="tab">Delegates</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="home">
        <%= render partial: 'users/form_user' %>      
      </div>
      <div role="tabpanel" class="tab-pane" id="contacts">
        <%= render partial: 'users/form_contacts' %>       
      </div>
      <div role="tabpanel" class="tab-pane" id="delegates">
        <%= render partial: 'users/form_delegates' %>      
      </div>
  </div>

</div>


