
$().ready( function(){

  // Automatically set the active user form tab
  whash = window.location.hash
  if($.inArray(whash, ['#home', '#delegates', '#contacts', '#travler-profile']) >= 0 ){
    $('a[href="'+ whash  +'"]').trigger('click')
  }else{
    $('a[href="#home"]').trigger('click')
  }

  // Cocoon config for contacts form
  $('#ldap_query a.add_fields').
    data("association-insertion-method", 'append').
    data('association-insertion-node', '#ldap_query_table');

  // Cocoon config for delegates form
  $('#ldap_delegates_query a.add_fields').
    data("association-insertion-method", 'append').
    data('association-insertion-node', '#ldap_delegates_table');


  $(".js_ajax_destroy").parents('form')
  // Fade/hide row in table on destroy
  .on('ajax:success', function(evt, data, status, xhr){
    $(evt.target).parents('.record_row').fadeOut();
    $(evt.target).find('.img_status').fadeOut();
    $(evt.target).find('select option:not(:selected)').prop('disabled', false);
    var new_val = $(evt.target).find('#approval_state_aasm_state').attr('value');
    // Set new val so we know when to show a submit button
    $(evt.target).find('#status_was').attr('value', new_val);
  })
  // Show loader
  .on('ajax:error', function(evt, xhr, data){
    console.log('There was an error')
    $(evt.target).children('.img_status').hide();
    $target = $(evt.target).find('input[type="submit"]')
    $target.attr('disabled','disabled');
    $target.val(xhr.responseJSON.message);
  })
  // Show loader
  .on('ajax:before', function(evt, data, status, xhr){
    // Create icon
    if ($(evt.target).children('.img_status').length == 0 ){
      $(evt.target).append('<img class="img_status" src="<%= asset_path 'ajax-loader.gif' %>" alt="Wait" />');
    }
    // Hide button
    $(evt.target).children('.js_ajax_destroy').hide();
    // Show icon
    $(evt.target).children('.img_status').show();
    $(evt.target).find('select option:not(:selected)').prop('disabled', true);
  });

  // hide all but the first new record
  var first = true
  $('.new_record').each(function(){
    if(first==true){
      first = false;
      return;
    }
    $(this).hide();
  });

  $('#grant_funded_travel_request_user_id').click(function(){
    console.log($(this).children(':selected').val());
  });
});

// Use a modal dialog to show post wait form
function post_with_status(form, source){
  var url = $(form).attr('action');

  $.ajax({
    my_form: form,
    my_source: source,
    url: url,
    type: 'POST',
    dataType: 'json',
    data: $(form).serialize(),
    error: function(xhr, ajaxOptions, thrownError){
      var notice_type = xhr.responseJSON[0][0];
      var notice_msg = xhr.responseJSON[0][1];
      var html_note = '<div class="'+notice_type+'">'+notice_msg+'</div>';
      $(this.my_form).find('input, select').addClass(notice_type).prop('disabled', true);
      $('#subnav').after(html_note);
    },
    success: function(data){
      var notice_type = data[0][0];
      var notice_msg = data[0][1];
      var html_note = '<div class="'+notice_type+'">'+notice_msg+'</div>';
      $('#subnav').after(html_note);
    }
  }).always(function(){
    form.children('.img_status').hide();
    source.hide();
  });

}


