.popover {
  max-width: 100%;
}

.popover-content table tbody, .popover-content table tbody tr th {
  text-align: center;
}

label.required:before {
  content: "* ";
  color: #d9534f;
}

.space-left:before {
  content: "* ";
  opacity: 0;
}

.pad-left {
  padding-left: 10px;
}

.annoying-long-div-star {
  display: inline;
  float: left;
  color: #d9534f;
  width: 3%;
  padding-left: 13px;
  font-size: 18px;
}

.annoying-long-div-label {
  display: inline;
  float: right;
  width: 97%;
}
