.popover {
  max-width: 100%;
}

.popover-content table tbody, .popover-content table tbody tr th {
  text-align: center;
}

label.required:before {
  content: "* ";
  color: #d9534f;
}

.space-left:before {
  content: "* ";
  opacity: 0;
}

.pad-left {
  padding-left: 10px;
}
