.ldap_search .found .ldap_search_label{
  padding: 0.2em 0.6em;
  background-color:#BBF;
  border-radius: 10px 10px;
}

table#user_forms{
  td:nth-child(2){
    white-space: nowrap;
  }
}

ul.traveler-profile-info > li {
  padding: 10px 0px;
}
