<div id="footer">
<center>
<table><tbody>
<tr>
    <td>
        <%= link_to image_tag("OHSU-logo-dark.png"),'http://www.ohsu.edu'%>
    </td>
    <td>
    Family Medicine Web Applications
    </td>
</tr>
</tbody></table>
</center>  

</div><!-- Footer -->

