        <!--
        <li style="float:right;margin-right:15px;">
            <a class="sf-with-ul" href="#">Font Size</a>
            <ul style="display: none; visibility: hidden; width:4em; text-align:center; left:auto; right:0px;" >
                <li> <a style="font-size:12pt;" href="#">A</a> </li>   
                <li> <a style="font-size:14pt;" href="#">A</a> </li>
                <li> <a style="font-size:18pt;" href="#">A</a> </li>
                <li> <a style="font-size:20pt;" href="#">A</a> </li>   
            </ul>
        </li>
        -->
        <li style="float:right;">
            <a class="sf-with-ul" href="#">Other Links</a>
            <ul style="display: none; visibility: hidden;left:auto;right:0px;">
                <li> 
                    <a target="_blank" href="https://ozone.ohsu.edu/fammed">Family Medicine Ozone Site</a>
                </li>   
                <li> 
                    <a target="_blank" href="https://o2.ohsu.edu/human-resources/benefits/time-off-work/paid-time-off-accruals/holidays.cfm">OHSU Employee Holiday Calendar</a>
                </li>
            </ul>
        </li>

